:root {
    /* COLORS */
    --first-color: #1C2F50;
    --second-color: #72B81F;
    --first-header-color:#F5F7ED;
    --second-header-color:#F0F2EB;
    --new-product-color: #FD484A;
    --text-color: #3B4D6A;
    --header-offer-color:#D7D9D3;

    /* TYPOGRAPHY */
    --header-title-text:1.175rem;
    --header-small-text: 0.813rem;
    --footer-big-text: 0.938rem;
    --footer-small-text:0.813rem;
    --main-small-text:0.688rem


}